body {
  background-color: chocolate;
}

h1,
p {
  text-align: center;
}

p {
  color: rgb(79, 236, 157);
}

.picture {
  max-width: 40%;
  max-height: 40%;
  border-radius: 10px;
  margin: 30px auto;
  display: block;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: mintcream;
}

.email {
  color: yellow;
}
